.hide-scrollbar {
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
}

.unitGrid .unit_image{
display: block;
    margin: 0 auto;
}

.unitGrid .unit-none{
opacity: 0.3;
}

.unitGrid md-grid-tile {
	border-radius: 5px;
	background: #f5f5f5;
}

.unitGrid md-grid-tile-header h3 {
	color: #00838f;
	font-weight: bold;
}

.unitGrid md-grid-tile md-grid-tile-footer {
	background: rgba(0, 0, 0, 0.68);
}

.unitGrid md-grid-tile-footer figcaption {
	width: 100%;
}

.unitGrid md-chip {
	color: #00838f;
	font-weight: bold;
}