<!doctype html>
<html ng-app="mui">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FFBE Rainbow Collector</title>
    <!-- load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <!-- load MUI -->
    <link href="http://cdn.muicss.com/mui-0.9.35/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="http://cdn.muicss.com/mui-0.9.35/angular/mui-angular.min.js"></script>
</head>
<body>
<mui-appbar></mui-appbar>

</body>
</html>